{{- define "body" -}}
<!-- Page for a project -->
<div class="container article">
  {{- if .Params.ProjectURL }}
  <h1 class="title is-2"><a href="{{ .Params.ProjectURL }}">{{ .Title }}</a></h1>
  {{- else }}
  <h1 class="title is-2">{{ .Title }}</h1>
  {{- end }}
  <div class="content">
    {{ .Content }}
  </div>
  {{- if .Params.EmbedURL }}
  <div class="center">
    <div class="embed">
      <iframe class="frame" title="title" src="{{ .Params.EmbedURL }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <img class="printonly" src="{{ .Params.ImageURL }}" alt="title">
  </div>
  {{- else if .Params.ImageURL }}
  <div class="center">
    <img src="{{ .Params.ImageURL }}" alt="title">
  </div>
  {{- end }}
</div>
{{- end -}}
