<!-- standard title = PageTitle | SiteTitle -->
{{ $title := add .Title " | " }}
{{ $title = add $title .Site.Title }}
{{ if .IsHome }}
  <!-- homepage title = SiteTitle -->
  {{ $title = .Site.Title }}
{{ end }}

<!-- By default, og:type is "website" -->
{{ $ogType := "website" }}
<!-- By default, use meta description in config.toml -->
{{ $metaDescription := .Site.Params.metaDescription }}
{{ if and (eq .Page.Section "blog") .IsPage }}
  <!-- on blog pages (with subtitle), use subtitle as meta description -->
  {{ $metaDescription = .Page.Params.subtitle }}
  <!-- og:type is "article" for blog posts -->
  {{ $ogType = "article" }}
{{ end }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ $title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ $metaDescription }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $metaDescription }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:type" content="{{ $ogType }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}img/og-image.png">
    <meta property="og:locale" content="en_US">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <!--[if lt IE 9]><script type="text/javascript" src="/js/html5shiv.min.js"></script><![endif]-->
    {{ $bulmaCSS := resources.Get "css/bulma.min.css" }}
    {{ $bulmaDarkCSS := resources.Get "css/bulma-prefers-dark.min.css" }}
    {{ $hpsCSS := resources.Get "css/hps.css" }}
    {{ $bundledCSS := slice $bulmaCSS $bulmaDarkCSS $hpsCSS | resources.Concat "css/bundle.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $bundledCSS.Permalink | relURL }}" integrity="{{ $bundledCSS.Data.Integrity }}">
    {{ if not (eq ".Page.Kind" "page") }}
    {{ range .AlternativeOutputFormats }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $title | safeHTML }}
    {{ end }}
    {{ end }}
  </head>
  <body><div class="main">
    <nav class="navbar is-dark noprint">
      <div class="container is-max-desktop is-navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/img/favicon-32x32.png" alt=""> &nbsp; {{ .Site.Title }}
          </a>
          <span class="navbar-burger burger" data-target="navMenu" >
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <!-- TODO: rewrite with .Site.Sections -->
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/blog/">Blog</a>
            <a class="navbar-item" href="/projects/">Projects</a>
            <a class="navbar-item" href="/contact/">Contact</a>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-dark">
      <div class="hero-body has-text-centered noprint">
        <h1 class="title is-2">{{ .Site.Title }}</h1>
        <h2 class="subtitle">{{ .Site.Params.subtitle }}</h2>
      </div>
    </section>
    <div class="printonly">
      <h1 class="title is-4">{{ .Site.Title }}</h1>
      <h2 class="subtitle is-6">{{ .Site.Params.subtitle }}</h2>
      <p></p>
    </div>
    <section class="section">
      {{ block "body" . }}{{ end }}
    </section>
    <footer class="hps-footer">
      <div class="content has-text-centered">
        {{ $counter := 0 }}
        {{ $numLinks := len .Site.Params.footerLinks }}
        {{ range .Site.Params.footerLinks }}
        {{ $counter = add $counter 1 }}
        <a href="{{ index . 1 }}">{{ index . 0 }}</a>
        {{ if not (eq $counter $numLinks) }} &middot; {{ end }}
        {{ end }}
        {{ if $numLinks }} <br> {{ end }}
        &copy; {{ now.Format "2006" }} {{ .Site.Copyright }}
      </div>
    </footer>
    <footer class="hps-print-footer">
      <small>
        <i>Printed from <a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a></i><br>
        &copy; {{ now.Format "2006" }} {{ .Site.Copyright }}
      </small>
    </footer>
    {{ $hpsJS := resources.Get "js/hps.js" | minify | fingerprint }}
    <script async src="{{ $hpsJS.Permalink | relURL }}" integrity="{{ $hpsJS.Data.Integrity }}"></script>
  </div></body>
</html>
