<!-- standard title = PageTitle | SiteTitle -->
{{ $title := slice .Title " | " .Site.Title }}
{{ if .IsHome }}
  <!-- homepage title = SiteTitle -->
  {{ $title = .Site.Title }}
{{ end }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ $title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ .Site.Params.subtitle }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ .Site.Params.subtitle }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ .Site.BaseURL }}/img/og-image.png">
    <meta property="og:locale" content="en_US">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <!--[if lt IE 9]><script type="text/javascript" src="/js/html5shiv.min.js"></script><![endif]-->
    {{ $bulmaCSS := resources.Get "css/bulma.min.css" }}
    {{ $bulmaDarkCSS := resources.Get "css/bulma-prefers-dark.min.css" }}
    {{ $hpsCSS := resources.Get "css/hps.css" }}
    {{ $css := slice $bulmaCSS $bulmaDarkCSS $hpsCSS | resources.Concat "css/bundle.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" media="screen">
  </head>
  <body><div class="main">
    <nav class="navbar is-dark noprint">
      <div class="container is-max-desktop is-navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/img/favicon-32x32.png" alt=""> &nbsp; {{ .Site.Title }}
          </a>
          <span class="navbar-burger burger" data-target="navMenu" >
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <!-- TODO: rewrite with .Site.Sections -->
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/blog/">Blog</a>
            <a class="navbar-item" href="/projects/">Projects</a>
            <a class="navbar-item" href="/contact/">Contact</a>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-dark">
      <div class="hero-body has-text-centered noprint">
        <h1 class="title is-2">{{ .Site.Title }}</h1>
        <h2 class="subtitle">{{ .Site.Params.subtitle }}</h2>
      </div>
    </section>
    <div class="printonly">
      <h1 class="title is-4">{{ .Site.Title }}</h1>
      <h2 class="subtitle is-6">{{ .Site.Params.subtitle }}</h2>
      <p></p>
    </div>
    <section class="section">
      {{ block "body" . }}{{ end }}
    </section>
    <footer class="sps-footer">
      <div class="content has-text-centered">
        {{ block "footer" . }}{{ end }}
        &copy; {{ .Date.Format "2006" }} {{ .Site.Copyright }}
      </div>
    </footer>
    <footer class="sps-print-footer">
      <small>
        <i>Printed from <a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a></i><br>
        &copy; {{ .Date.Format "2006" }} {{ .Site.Copyright }}
      </small>
    </footer>
    {{ $hpsJS := resources.Get "js/hps.js" | minify | fingerprint }}
    <script async src="{{ $hpsJS.Permalink }}" integrity="{{ $hpsJS.Data.Integrity }}"></script>
  </div></body>
</html>
