{{ define "body" }}
<!-- Page for a Blog article -->
{{ $pygmentsCSS := resources.Get "css/pygments.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $pygmentsCSS.Permalink }}" integrity="{{ $pygmentsCSS.Data.Integrity }}" media="screen">
<div class="container article">
  <h1 class="title is-2">{{ .Title }}</h1>
  <p class="subtitle">{{ .Params.Subtitle }}</p>
  <p><i>Last updated on <strong>{{ .Date | time.Format "Jan 2, 2006" }}</strong></i></p>
  <div class="space-20"></div>
  {{ if .Params.headerEmbedURL }}
  <div class="center">
    <div class="embed">
      <iframe class="frame" title="title" src="{{ .Params.headerEmbedURL }}" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  {{ else if .Params.headerImageURL }}
  <div class="center">
    <img src="{{ .Params.headerImageURL }}" alt="title">
  </div>
  {{ end }}
  <div class="content">
    {{ .Content }}
  </div>
</div>
{{ end }}
